<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Deshik Labs</title>
  </head>
  <body>

<!-- <div class="background-image"></div> -->
<div id="particles-js"></div> <!-- stats - count particles --> <div class="count-particles"> <span class="js-count-particles">--</span> particles </div>


<header>
  <img src="/static/images/logo.png" alt="" class="brand-logo">
  <p class="brand-tag">Innovations For a Better Living<br />
</header>



    <!-- container start -->
    <div class="container">




{% include 'nav.html' %}




      <!-- Jumbotron About Start -->
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4 text-center">About US</h1>
          <p class="lead" style="text-align:center;">Know more about us and our Team.</p>

        </div>
      </div>
      <!-- Jumbotron About End -->


      <div class="row page-content justify-content-md-center">
        <div class="col-md-8">
          <h1 class="page-heading">What we do</h1>
          We are a product development consultancy that specializes in customized hardware for automation , computation, security,test equipments, and other work specific/personal needs.
          <br>
          We are resourceful in mechatronics, electrical engineering, software engineering, design research, and prototyping. To put it in simpler terms, we make products that look good, work better, address the needs of users, and make a substantial impact on the market, all the while meeting the demands and needs of our clients.  	We not only come up with innovative ideas and concepts, we make them work.
          <br><br>
          <h1 class="page-heading">Our Philosophy</h1>
          At Deshik Labs, you will find a group of avid problem solvers. Our individual experiences are broad and diverse. Our involvement with a wide variety of product developments allow us to apply what we learned to each new project.  We call this compounding experience.  We all share the hunger to never stop learning, which keeps us on the cutting edge of product development. We are creative and we are innovative. We are equally comfortable creating innovative ideas as we are turning them into something that works.
          <br>
          The name deshik means guru in Sanskrit,deshik is associated with innovation, someone who is very imaginative and creative,has a urge to build/create something new ,hence the name..
        </div>
      </div>

      <div class="row page-content justify-content-md-center text-center">
          <div class="col-md-12">
            <h1 class="page-heading">Team</h1>
          </div>
          <div class="col-md-12">

            <div class="card-deck">
              <div class="card">
                <img class="card-img-top" src="/static/images/team/pic01.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Shreesha Ramaswamy</h5>
                  <p class="card-text">Founder</p>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/static/images/team/pic02.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Mridul Ganga</h5>
                  <p class="card-text">Software Lead</p>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/static/images/team/pic03.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Sudhanshu Sharma</h5>
                  <p class="card-text">Hardware Lead</p>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/static/images/team/pic04.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Surya Sriram</h5>
                  <p class="card-text">Multimedia and content creation lead</p>
                </div>
              </div>
            </div>

          </div>

        </div>
        <div class="row page-content justify-content-md-center text-center">

          <div class="col-md-12">
            <h1 class="page-heading">Interns</h1>
          </div>
          <div class="col-md-12">
            <div class="card-deck">

              <div class="card bg-info text-white">
                <!-- <img class="card-img-top" src="images/team/pic04.jpg" alt="Card image cap"> -->
                <div class="card-body">
                  <h5 class="card-title">Devang J</h5>
                  <p class="card-text">Cloud and Android intern</p>
                </div>
              </div>
              <div class="card bg-info text-white">
                <!-- <img class="card-img-top" src="images/team/pic04.jpg" alt="Card image cap"> -->
                <div class="card-body">
                  <h5 class="card-title">Yashwanth Chawat</h5>
                  <p class="card-text">ML and AI intern</p>
                </div>
              </div>
              <div class="card bg-info text-white">
                <!-- <img class="card-img-top" src="images/team/pic04.jpg" alt="Card image cap"> -->
                <div class="card-body">
                  <h5 class="card-title">Arjun</h5>
                  <p class="card-text">Marketing intern</p>
                </div>
              </div>

            </div>
          </div>

      </div>


    </div>
    <!-- container end -->



    <footer class="container" style="margin-top:80px; color:#fff;">
      <div class="row">
        <div class="col-md-6 col-sm-12">
              <iframe width="100%" height="300px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=12.295384555796273,76.61889938539046&hl=es;z=18&amp;output=embed" ></iframe>
        </div>
        <div class="col-md-6 col-sm-12">
          <dl class="alt dark">
            <dt>Address</dt>
            <dd>1065 New Kantharaja Road, Kuvempunagar Mysuru, KA</dd>
            <dt>Phone</dt>
            <dd>+91 97311 34276</dd>
            <dt>Email</dt>
            <dd><a href="#">contact@deshik.in</a></dd>
          </dl>
        </div>
      </div>
      <div class="row" style="text-align:center; padding:20px; margin-bottom:100px;">
        <p style="float:none; margin:0 auto;">&copy; Deshik Labs</p>


      </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>\
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <!-- <script src="http://threejs.org/examples/js/libs/stats.min.js"></script> -->
    <script src="/static/js/main.js"></script>
  </body>
</html>
